# Visual Studio temporary files
*.VC.db
*.VC.db-shm
*.VC.db-wal
*.suo
*.user
*.ncb
*.opendb
*.vsidx
DocumentLayout.json
.wsuo
/ToDo/.vs/ToDo/v17/Browse.VC.db
/ToDo/.vs/ToDo/v17/DocumentLayout.backup.json
/ToDo/toDoList.txt
